:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: scroll;
  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #010101;
}
